{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{% trans 'Where I was?' %}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/screen.css" type="text/css"/>
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/all.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <ul id="menu">
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            <li><a href="{% url 'create' %}">{% trans 'create' %}</a></li>
            <li><a href="{% url 'logout' %}" title="{% trans 'logout' %}">{% trans 'logout' %}</a></li>
        </ul>
    </header>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
</body>
</html>