{% extends "core/base.html" %}
{% load i18n %}
{% block content %}



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<ul class="reminder-list">
{% for reminder in reminders %}
    <li>
        {{ reminder.title }}
        <a href="{% url 'remove' id_reminder=reminder.pk %}">x</a>
        <span>{{ reminder.place }}</span>
        <span>{{ reminder.date | date:"d-m-Y" }}</span>
    </li>
{% endfor %}
</ul>

{% endblock %}