{% extends "core/base.html" %}
{% load i18n %}
{% block content %}

<a href="{% url 'create' %}">{% trans 'create' %}</a>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<ul class="reminder-list">
{% for reminder in reminders %}
    <li>
        {{ reminder.title }} - <span>{{ reminder.place }}</span>
        <a href="{% url 'remove' id_reminder=reminder.pk %}">x</a>
    </li>
{% endfor %}
</ul>

{% endblock %}