{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{% trans 'Where I was?' %}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/screen.css" type="text/css"/>
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/all.js" type="text/javascript"></script>
</head>
<body>
    <section id="login">
        <h1>{% trans 'Where I Was?' %}</h1>
        <p>{% trans 'Tired of forgetting which episode of your favorite serie you have stopped? are you forgetting the book page you were?' %}</p>
        <p>{% trans 'So Where I Was? is perfect for you! Here you can store this information quickly and easily.' %}</p>
        <a href="{% url 'socialauth_begin' 'facebook' %}" class="popup"><img src="{{STATIC_URL}}img/facebook.png" title="{% trans 'login with facebook' %}"/></a>
    </section>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>